.cabecalho {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.relogio-digital {
    display: flex;
    flex-direction: column;
    gap: 4px;

    color: #fff;
    font-weight: bold;
}